.app {
    width: 80%;
    min-height: 100vh;
    background-color: #dff0db;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #dff0db;
}
#root {
    height: 100%;
    width: 100%;
}

.content {
    width: 100%;
    flex: 1;
    background-color: #98d08a;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #789c6d;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

    /* Эффект при наведении */
    button:hover {
        background-color: #6a7a66;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    /* Эффект при нажатии */
    button:active {
        transform: translateY(1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

/*div {
    background-color: #f5fcf2;
}*/

.schemas-list,
.model-list,
.models-scroll {
    background-color: #79a966;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: auto;
}

    /* Общий стиль для кнопок внутри этих списков */
    .schemas-list button,
    .model-list button,
    .models-scroll button {
        background-color: #3d602f;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 16px;
        margin: 5px auto;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        box-shadow: none;
        width: 60%;
        display: block
    }

        .schemas-list button:hover,
        .model-list button:hover,
        .models-scroll button:hover {
            background-color: #2e4a22;
        }

        .schemas-list button.active,
        .model-list button.active,
        .models-scroll button.active {
            background-color: #2e4a22;
            outline: none;
        }

    .schemas-list button,
    .schemas-list .schema-btn,
    .models-scroll button,
    .models-scroll .model-item
    .models-grid {
        color: white;
    }

.navigation {
    background-color: #3d602f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    margin: 5px auto;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: none;
    width: 100%;
    display: block
}
h1 {
    color: white;
    font-weight: bold;
}

.login-form {
    background-color: #3d602f !important;
    color: white;
}